Makefile
Makefile.in
*.ac
autom4te.cache
.deps
.libs
aclocal.m4
compile
config.*
configure
depcomp
*.lo
*.la
*.o
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.tar.gz
nightshift-*
dozord/dozord
tools/parser
configure~