Makefile
Makefile.in
autom4te.cache
.deps
.libs
aclocal.m4
compile
config.*
depcomp
*.lo
*.la
*.o
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.tar.gz
dozord/dozord
tools/parser
configure.in
.aider*
configure
configure~
